/* Reset and basic styling */
html, body {
  height: fit-content;
  min-height: 400px;
  width: 100%;
  min-width: 300px;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90%;
  margin: 10% 0 10% 0;
  font: caption;
  background-color: #2b2a33;
}

/* Common styles for .current_ring and .infoblock */
.current_ring, .infoblock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top: 2px solid white;
}

.current_ring {
  min-height: 24%;
  background-color: #0060df;
}

.infoblock {
  flex-direction: column;
  min-height: 15%;
  background-color: #0060df;
  color: #f0f0f4;
  border-bottom: 2px solid white;
}

/* Individual element styles */

#random, #reload {
  height: 2em;
  width: 60%;
  margin: 5px;
  border-radius: 5px;
  /* background-color: #52525e;
  border: 2px solid #2b2a33; */
}

.centercol {
  width: 70%;
  padding: 50px 10px;
  align-items: center;
  text-align: center;
}

#curr {
  font-weight: bold;
}

#author {
  font-style: italic;
  margin-bottom: 0;
}

#prev, #next {
  height: 100%;
  width: 15%;
  font-weight: 800;
  background-color: #52525e;
  border: none;
}

#systems {
  font-weight: bold;
}

#desc {
  padding: 0 25px;
}

/* Button hover */
button:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Global link and paragraph styles */
p,
#prev,
#next,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: white;
}
